[2015-04-23 12:20] tiagoad opened #2 "Crash when running on a 32-bit machine"
When I make an RPC call, if the program is running on a 32-bit machine I get the following error:

[code]

Is this problem known? Am I doing anything wrong?

Regards

[2016-08-03 23:05] tylerje commented on #2
Try the latest NuGet package just published today. I'm uncertain if that will fix it mostly because I do not have a 32-bit machine on which to test.

[2016-08-08 00:20] ersintarhan opened #4 "Socket exception on ubuntu box."
Hello.
I tried ServiceWire on my ubuntu box as TcpHost with following code :

its works on windows perfect but on linux its throwing following exception :

[2016-09-17 09:52] snielsson opened #5 "Idea to add Wire serializer in addition to Json.Net"
Hi

Just found ServiceWire lib and will give it a try. So far I have only skimmed the docs, but I noticed that Json.Net is used which is good. This also made me think, that it would be great to be able select other serializers, espcially high performance binary serializers. Here I am thinking of both Wire (https://rogeralsing.com/2016/08/16/wire-writing-one-of-the-fastest-net-serializers/) and of

[2017-01-20 07:14] ByronAP commented on #4
same

[code]

[2017-01-21 21:17] ByronAP commented on #2
this should be closed

[2017-03-29 18:36] DamianReeves opened #8 "Any chance of Json RPC support over ServiceWire?"
You wouldn't need to implement the JsonRpc bits as this repo does it for you [Microsoftvs-streamjsonrpc](/https://github.com/Microsoft/vs-streamjsonrpc).

I like ServiceWire and the named pipes support but JsonRpc would make it much more portable and accessible to non .NET clients.

Great library!

[2017-07-17 21:38] guy-avery commented on #5
Did a quick experiment by changing the serialise / deserialise extension methods to use the Wire protocol - worked fine. Very simple change. Would require a little more work to allow developers to swap in and out their own serialisers.

[2017-07-24 10:45] apobekiaris opened #9 "NewtonSoft binding exception"
Hello,

Trying to use the nuget package on a project that uses NewtonSoft 10 but I get an fail to load exception requesting for NewtoSoft 9

any ideas?

[2017-07-24 10:48] apobekiaris commented on #9
p.s the nuget manager has already added the required binding redirects in app.config

<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>

[2017-07-24 11:51] apobekiaris commented on #9
my bad sorry nuget manager updated the wrong config

[2017-07-24 11:51] #9 closed

[2018-01-19 22:32] hdimon opened #10 "Async requests?"
Hi,

Sorry that I'm writing this question here but this library has support for async/await usage? I mean if I can create contract with Task<> methods and it will be really async or not?

Thank you.

[2018-01-30 00:16] RonaldZaZ opened #11 "System.Security.Principal.IdentityNotMappedException on creating Named Pipe"
The problem is here
` _pipeSecurity.AddAccessRule(new PipeAccessRule(@"Everyone", PipeAccessRights.ReadWrite, AccessControlType.Allow));
`
Not every locale has the "Everyone" group. In other locale's it's named differently.
You should pass a security indentifier like this:
`SecurityIdentifier` everyone = new SecurityIdentifier(WellKnownSidType.WorldSid, null);
Then use that one instead of the "Eve

[2018-07-15 01:50] tylerje commented on #11
@RonaldZaZ I've been crap for keeping up with my OSS projects. Thanks for the suggestion. I'm happy to take a PR if you need this before I can get to it.

[2018-07-15 01:54] tylerje commented on #10
@hdimon no, there is no support for such a thing in its current form. It's an interesting idea but I would probably recommend looking at my MessageWire project for asynchronous messaging between two processes if that is what you're after.

[2019-01-06 22:42] #11 closed

[2019-01-06 23:11] tylerje commented on #10
@hdimon the code base now supports it. The NuGet package has not been updated. Thanks @vbondaryuk.

[2019-01-06 23:11] #10 closed

[2019-01-06 23:14] tylerje commented on #8
No plans to support JsonRpc. Perhaps in the future. I'm happy to take a look at a PR that does the trick.

[2019-01-06 23:14] #8 closed

[2019-01-06 23:15] tylerje commented on #5
@snielsson this is an idea whose time is come. I'm working on making the serializer injectable. Stay tuned.

[2019-01-06 23:19] tylerje commented on #4
Fixed in latest commit. Will have a NuGet package out in the next few days.

[2019-01-06 23:19] #4 closed

[2019-01-06 23:19] #2 closed

[2019-01-11 00:55] tylerje commented on #5
@snielsson This has now been released in v5.3.0 just pushed to NuGet. Have a look at the unit tests that show how to do a Protobuf and a Newtonsoft.Json serializer. The new package reverts to BinaryFormatter for the default and loses the dependency on Newtonsoft.

[2019-01-11 00:55] #5 closed

[2019-01-11 05:34] snielsson commented on #5
Cool and good to know, even though I am not currently using ServiceWire. I case you find it interesting, I have also stumbled upon this very fast MessagePack implementation https://github.com/neuecc/MessagePack-CSharp and also a very interesting related RPC-Web API Framework project called MagicOnion which combines MsgPack with Googles gRPC.

[2019-06-03 15:31] zedle opened #14 "Unable to find assembly in client via named pipes?"
Hello, we've been trying to replace our custom named pipe implementation with ServiceWire but have been getting issues where we get errors such as:

`System.Runtime.Serialization.SerializationException: 'Unable to find assembly 'ServiceWireServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'.'`

That was actually taken from a direct copy/paste of the sample code in the wiki for named pip

[2019-06-03 15:48] tylerje commented on #14
What .NET framework or core version are you using? What version of the NuGet package are you using? Does one or both of your projects have the client framework selected?

[2019-06-03 15:50] zedle commented on #14
.NET Framework 4.6.2, neither is Client Framework. v5.3.0 from NuGet.

[2019-06-03 15:52] tylerje commented on #14
On second read, you appear to have a ServiceWireServer assembly defined. I'm assuming it contains the serialized type which ought to be in a shared common assembly rather that only in your server project. The client side needs access to those types you are serializing.

[2019-06-03 16:24] zedle commented on #14
I have a shared project in place with the interface and serializable structs defined, both projects reference it.

[2019-06-03 16:30] tylerje commented on #14
I'm happy to help via screen share using my Zoom account if you like. Send an email to me directly at tyler@tsjensen.com, if so, to arrange a time.

[2019-06-04 00:32] tylerje commented on #14
Found the bug. Seems only to have popped up with output params. Fixed and published package version 5.3.1.

[2019-06-04 14:58] zedle commented on #14
Awesome, I'll give it a shot right now.

[2019-06-04 15:01] zedle commented on #14
Works great! Thanks again Tyler!

[2019-06-04 15:01] #14 closed

[2019-06-06 20:36] jgiacobbi opened #15 "Topshelf incompatibility?"
Hello, I'm getting the error : `'Cannot match method 'ReAuthenticate' to its server side equivalent'`

This worked prior to modifying the project to use topshelf. Are there any known issues here?

These are the relevant servicewire implementation details:

interface:
[code]

server:
[code]

client:
[code]

[2019-06-06 21:36] tylerje commented on #15
Is your AuthState class marked as [Serializable]?

[2019-06-06 21:38] jgiacobbi commented on #15
Yes it is

[2019-06-06 21:46] tylerje commented on #15
What version of the NuGet package are you using? Have you tried correcting the case of the params in your implementation to match the interface?

[2019-06-06 21:51] jgiacobbi commented on #15
I'm using 5.3.1. I did try correcting the case, but it didn't help. I added a logger and got these two errors back.

[code]

[2019-06-06 23:14] jgiacobbi commented on #15
After trying everything it appears that my problem is that the server project was a Core project and not a Framework project. Frustrating, but ultimately good news.

[2019-06-06 23:14] #15 closed

[2019-06-06 23:15] tylerje commented on #15
That sounds like a pipe is locked. Try changing the name of the pipe on both client and server and try again. If that doesn't work, I'm happy to spin up a Zoom session to help you figure it out. Send an email to tyler@tsjensen.com.

[2019-06-06 23:32] tylerje commented on #15
@jgiacobbi I have not tried that with named pipes. I'll add that to my list of scenarios to test. Out of curiosity, which version of Framework and Core? Consider trying it with TCP on localhost 127.0.0,1.

[2019-06-06 23:52] tylerje commented on #15
The problem almost undoubtedly comes in this file. https://github.com/tylerjensen/ServiceWire/blob/master/src/ServiceWire/NamedPipes/NpListener.cs

I'll have to do some experimentation to see if those differences are needed or if they can be dropped from the .NET 462 implementation. Or perhaps these can be made configurable.

[2019-06-07 15:00] jgiacobbi commented on #15
Framework 4.6.2 and Core 2.2

[2019-06-13 04:11] nocanstillbb opened #16 "User password hash authentication failed"
1.serviceWire verson :4.0.1
2..net framework 4.0
3. exception info
=======================2019/6/13 11:58:31=======================
System.Reflection.TargetInvocationException: 调用的目标发生了异常。 ---> System.IO.EndOfStreamException: 无法在流的结尾之外进行读取。
   在 System.IO.BinaryReader.FillBuffer(Int32 numBytes)
   在 System.IO.BinaryReader.ReadInt32()
   在 ServiceWire.StreamingChannel.SyncInterface(Type serviceType

[2019-06-13 04:15] nocanstillbb commented on #16
![image](https://user-images.githubusercontent.com/22405678/59403366-f4bb2780-8dd4-11e9-9bbc-349b33ea1b4d.png)
![image](https://user-images.githubusercontent.com/22405678/59403372-f8e74500-8dd4-11e9-8ab6-8f4cc0db6d11.png)

[2019-06-13 04:17] nocanstillbb commented on #16
![1](https://user-images.githubusercontent.com/22405678/59403453-377cff80-8dd5-11e9-93d2-0c9f93830018.png)
![2](https://user-images.githubusercontent.com/22405678/59403460-39df5980-8dd5-11e9-87d4-31d0e9b9924c.png)

[2019-06-13 04:31] tylerje commented on #16
Are you using .NET client profile? You are using a 5 year old version. Recommend you upgrade to the latest and min of .NET 4.62.

[2019-06-13 05:36] nocanstillbb commented on #16
ok... thank you.
i using .net framework 4.0 .not .net framework 4.0 profile.
i have to use this .net framework verson.

[2019-06-13 12:06] tylerje commented on #16
Can you email your project code to me? It's likely something simple but I'm not seeing it in your screen shots. tyler@tesjensen.com

[2019-06-13 15:44] tylerje commented on #16
Another alternative is start with the simple reference or demo code and eliminate all other elements of your code. See if you can get it to work and then add until you find what the problem is.

[2019-06-13 15:45] tylerje commented on #16
Fork the code and see if you can get it running in its current state but for a net40 target.

[2019-06-17 01:47] nocanstillbb commented on #16
1.fork
2.restore version which commit date is 2014/12/22
3. delete  project.assets.json
4. build and run
thank you

[2019-06-17 01:59] tylerje commented on #16
I'm confused. Are you saying you got things working?

[2019-06-17 02:04] #16 closed

[2019-06-17 02:05] nocanstillbb commented on #16
do thoes step.i get succuess communication

[2019-06-17 02:09] nocanstillbb commented on #16
sorry ,my english so bad
i mine thank you very much

[2020-02-02 18:59] makotech222 opened #18 "Any way for Bidirectional communication?"
I'm trying to upgrade a WCF application to use ServiceWire as a replacement. I have multiple uses of WCF DuplexClientBase, which allows the host to use a callback object.

Is there anything in ServiceWire to mimic this functionality?
Thanks!

[2020-02-02 19:10] tylerje commented on #18
@makotech222 there is no provision in ServiceWire for duplex, callbacks or push. You may want to explore websockets via SignalR. https://docs.microsoft.com/en-us/aspnet/core/fundamentals/websockets?view=aspnetcore-3.1

The only alternative, and I would not recommend this generally,  is polling. You could also explore the use of NetMQ for bi-directional communication. Have a look at https://github.

[2020-02-02 19:48] makotech222 commented on #18
Ah okay thank you. It looks like I will have to go the polling route for my use case. Its not performance intensive in any way, so it should be fine.

[2020-02-02 19:52] tylerje commented on #18
@makotech222 that works. You can make the poll method very lightweight. The client keeps the socket open to the server until disposed, so the cost of polling on that connections will be small.

[2020-02-02 19:53] #18 closed

[2020-02-02 20:11] makotech222 commented on #18
@tylerje One last question I think. Looks like async/task based methods don't work? Calling client methods seems to be blocking, even when return type is Task. How should I poll if I'm blocked by the initial client call?

[2020-02-02 21:12] tylerje commented on #18
@makotech222 it's working as designed. The Task return type is supported but remote execution is synchronous. See lines 256 to 277 in https://github.com/tylerjensen/ServiceWire/blob/master/src/ServiceWire/StreamingChannel.cs.

All execution of remote methods on the host occur on their own background thread. You can use the client on multiple threads and make multiple concurrent calls to the host.

[2020-02-02 21:43] makotech222 commented on #18
Thank you for the detailed response! I've changed my code to the following, but it seems like the host functions are still blocking (not being run on background thread?)

![image](https://user-images.githubusercontent.com/4389156/73615940-ce9bff00-45d2-11ea-8521-62b1e84c5e62.png)

[2020-02-02 21:58] tylerje commented on #18
The TPL can only evaluate the Proxy and so may assume that the return will be immediate and therefore runs it synchronously. Try Factory.StartNew(..., TaskCreationOptions.LongRunning);

[2020-02-02 22:01] makotech222 commented on #18
Sorry I should clarify. The Task t is working properly, and doesn't get completed until after the 20 seconds. When I get to the client.Proxy.GetLog(), I get blocked until TryGetVal() finishes.

[2020-02-02 22:15] tylerje commented on #18
Put a count on how many times you are calling GetLog. Then try switching to a TCP client and host. There may be something blocking while waiting for the result. I would like to know if it's behaving the same over TCP.

[2020-02-02 22:31] tylerje commented on #18
Apologies. I mislead you. The Host can handle multiple calls across multiple connections. The client can only execute one operation at a time. For your approach to work, you would need two clients with independent connections. Look at NpListener.cs for example. I would not recommend this approach. I would make timed polling calls that return immediately telling me whether the server has something

[2020-02-02 22:38] makotech222 commented on #18
I see. That is too bad. Thank you again for the help nonetheless! I will have to think of another solution for the bidirectional comms. Or perhaps refactor my code to work around it.

[2020-02-02 23:16] makotech222 commented on #18
For fun, tried this configuration.
Put Hosts on both sides, and the Server Host calls the client's host. Seems to work well with this limited test.

![image](https://user-images.githubusercontent.com/4389156/73616971-9f3fbf00-45df-11ea-844f-3fe251467f2d.png)

[2020-02-02 23:37] tylerje commented on #18
That can be an excellent solution.

[2020-02-03 07:32] Kryptos-FR opened #19 "Cannot call a dotnetcore service from a donetframework client"
I was playing around the demo host/client and I noticed that it fails to call methods if the server and client don't run on the same runtime. It fails when trying to match the types because the qualified names are different:
- *Int32, System.Private.CorLib* vs *Int32, mscorlib*
- Same with Task

However, if I hijacked the running code on the client to remove the assembly qualification, it works fi

[2020-02-03 07:59] tylerje commented on #19
Feel free to submit a PR. I would want to create a comprehensive map to be sure of it and then make it optional to avoid the overhead for those who are in the majority and using either Framework or Core on both ends. This issue is why I introduced a serializer injection mechanism. You can inject a JSON serializer or even a protocol buffers serializer. You may need to use attributes on your data me

[2020-02-03 08:50] Kryptos-FR commented on #19
Thanks for the quick reply.

That makes a lot of sense. Making a custom serializer that supports a user-provided mapping seems to be the most sensible way.

Depending on time, I will investigate further and try to create a PR.

[2020-02-05 15:20] sebcramer opened #20 "Remove conditional compile flags for pipe security"
Hello.

Cloud you remove the conditional compiles for pipe security (e.g. in `src/ServiceWire/NamedPipes/NpListener.cs`)? AFAIK all supported versions of .net should also support `PipeSecurity`.

Thanks.

[2020-02-05 15:22] sebcramer opened #21 "Expose PipeSecurity"
Hello.

Feature request: could you expose PipeSecurity for modification?

Thanks.

[2020-02-05 15:39] tylerje commented on #20
I'm happy to take a look at it. Feel free to submit a PR.

[2020-02-05 15:40] tylerje commented on #21
Please elaborate.

[2020-02-05 15:42] sebcramer commented on #21
Right now it is not possible to modify the pipe's ACL settings. I (for one :-) ) would find it desirable to change the security settings of the named pipe. working on a PR right now.

[2020-02-05 15:42] sebcramer commented on #20
PR #22

[2020-02-17 20:37] jgiacobbi opened #23 "Permissions issue in 5.3.2"
Hello,

We've been using ServiceWire with no issue for some time now. Our use case is a Framework 4.6.2 tray agent communicating over named pipe with a Framework 4.6.2 service. After upgrading from 5.3.1 to 5.3.2 suddenly the tray agent started crashing with no output. On a hunch I ran it as administrator and it worked normally. After reverting to 5.3.1 our vanilla install works as expected.

[2020-02-17 21:26] tylerje commented on #23
In 5.3.2 we moved to .NET Standard 2.0 and 2.1 builds. There is a difference in the .NET 4.6.2 implementation of named pipes. To fix this error, we will need a specific .NET 4.6.2 build in the NuGet package. That make take a little time given current commitments, but the 5.3.1 package should work just fine for you.

[2020-02-17 22:10] jgiacobbi commented on #23
Yeah 5.3.1 is working great for us for now. I guess we'll cross this bridge when we move to core. Thanks for the update.

[2020-02-17 22:10] #23 closed

[2020-03-12 08:38] Levi--G opened #25 "Task support"
Task<T> works just fine but when using a non-generic Task an error throws claiming VoidTaskResult is not marked as ISerializable. This only occurs when using an async Task:
[code]

When returning Task.CompletedTask this works just fine. However that is rarely the case.

I have also noticed another issue, the tasks are not actually async but instead somehow wait synchronously on the result. On the

[2020-03-12 08:54] tylerje commented on #25
I need to update documentation because while the syntax of Task return type is supported, apparently it is not marked as Serializable. In fact async is not really supported. Under the covers the task type is stripped away over the wire and the method is executed on a worker thread on the server synchronously.

The solution will require some research and time is limited. If you have a desire to con

[2020-03-12 08:55] #19 closed

[2020-03-12 08:56] tylerje commented on #19
Closed as I do not think there is a way to resolve this using the binary serializer.

[2020-03-12 11:27] Levi--G commented on #21
I have just hit this issue too.
Did some research, read the PR, eventually found this:
https://github.com/HavenDV/H.Pipes/tree/master/NamedPipeServerStream.NetFrameworkVersion
Maybe you could use that to expose the pipesecurity?

[2020-03-16 13:21] sebcramer commented on #20
I added another pull request using @Levi--G 's suggestion from issue #21 .

[2020-03-16 13:22] sebcramer commented on #21
I prepared a new pull request using @Levi--G 's idea (thanks!)

[2020-03-16 15:52] Levi--G commented on #21
I forgot to submit mine 😅
As long as it makes it to nuget i guess it doesn't matter. 😄
I had it added to the constructor instead of on property but the result is the same.

[2020-03-16 16:06] tylerje commented on #21
Let's make sure we have tests for all platforms. Apologies but I won't be able to review for at least a week.

[2020-03-16 16:13] sebcramer commented on #21
I just had 5+ years of .NET abstinence. Someone needs to point me in the right direction. I am still marveling about the whole nuget thing. :-)

[2020-03-16 16:16] Levi--G commented on #21
Well i was able to test this on .Net and .Net Core on windows, i do not have access to linux for a while and mac not at all. I didn't even know they had named pipes...

[2020-03-16 16:18] sebcramer commented on #21
They do: Mono. I have access to Linux machines. I'll try my best. Regarding tests: I though @tylerje was talking about unit tests.

[2020-03-18 08:46] Levi--G commented on #21
There are already unit tests and they all pass, the only tests that might need adding is one or two with the ACL's set. But you can look at the existing tests to add those. If you don't want to do it i can, it will just have to wait until i have time then. Maybe in 2 days.

[2020-04-30 17:31] tylerje commented on #20
Closing this issue. Not all versions support it. And I don't want to add a 3rd party library dependency to add it back into the NetStandard versions.

[2020-04-30 17:31] #20 closed

[2020-04-30 17:33] tylerje commented on #21
I don't want to add a 3rd party library dependency that adds something that was removed from NetStandard. The likelihood is that it would not work properly on Linux and that is likely why it was removed.

[2020-04-30 17:33] #21 closed

[2020-06-29 19:26] xen2 opened #31 "InvokeMethod: Cannot match method due to string being in different corelib"
I have one process in .NET FW and one in .NET Core.
I get an Exception in `InvokeMethod` due to type not matching:
`System.String, mscorlib` on one side and `System.String, System.Private.CoreLib` on the other side.

One possible fix is to alter `ToConfigName` to not append assembly name if it belongs to corelib (i.e. `t.Assembly == typeof(String).Assembly`).
Should I submit such a PR, or do you t

[2020-06-29 19:35] tylerje commented on #31
Is this a single string parameter or return value? Or part of a more complex type? You could inject your own serializer. I'd prefer not to build in type translator logic in the library, but I do need to push a new package out that contains recent fixes to the serializer injection mechanism.

[2020-06-29 19:38] xen2 commented on #31
Those are parameters:
`RawShaderNavigationResult AnalyzeAndGoToDefinition(string projectPath, string sourceCode, RawSourceSpan span)`
I use a custom `ISerializer` but it's not being used for top-level parameter matching in `InvokeMethod`.
Here's where the equality happens:
https://github.com/tylerjensen/ServiceWire/blob/0a036c32515a034259621128814e711acd7cb647/src/ServiceWire/StreamingChannel.cs#L

[2020-06-29 20:17] tylerje commented on #31
Gotcha. I'm looking at it and wondering if there are other such cases. Perhaps we can resolve all such cases in one change. And since the ToConfigName extension is called just during startup, I don't mind adding something there.

[2020-06-29 21:37] #31 closed

[2020-08-04 23:44] kccarter76 opened #35 "not strongly named"
Could not load file or assembly 'ServiceWire, Version=5.3.4.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. A strongly-named assembly is required. (Exception from HRESULT: 0x80131044)

after giving it a strong name I get this exception:

Severity	Code	Description	Project	File	Line	Suppression State
Error		Error Starting Transformation: System.Reflection.TargetInvocationExcepti

[2020-08-05 00:10] tylerje commented on #35
ServiceWire is not a strong named package. You must be trying to use it in a project that requires it.

[2020-08-05 01:59] kccarter76 commented on #35
I have provided more information after signing the assembly, the exception is a head scratcher. since I can not find a reference to version 5.3.0.0 anywhere in the code base.

[2020-08-05 02:08] tylerje commented on #35
5.3.0.0 is the binary serializer throwing the error. Can you share your interface code and data object code? And perhaps the code calling your Deserialize method?

[2020-08-05 02:25] kccarter76 commented on #35
if I can get this working to the point that the visual studio SDK is not required. I will push the contracts down to the Mono.TextTemplating project.

The host program

[code]

server implemenation of the service
[code]
service interface
[code]
abstract classes
[code]
The Service Factory I am looking to return, have not implemented anything yet because I have been focused on getting a named pipe s

[2020-08-05 02:30] kccarter76 commented on #35
last but not least the service method that is instanciating the server and then connecting to it.

[code]

[2020-08-05 02:43] tylerje commented on #35
What frameworks do you have on both server and client end? You have a lot if other stuff going on here. I recommend you simplify and start with simple console apps on birth ends in the frameworks and platforms you want to use. Get communication working and then go back to your code to see if you can see what is causing the problem.

[2020-08-05 02:44] kccarter76 commented on #35
Visual studio is Net Framwork and the T4 Host Process is Net Core

[2020-08-05 02:54] tylerje commented on #35
The binary serializer between the two is not always compatible. Try a simplified approach with just console apps in framework and core. Use an interface that passes the same types. If that works fine, you know you have something else going on. If not, try fingerprinting Guid to a string maybe. If neither work, you can inject your own serializer. I'm assuming you have the same ServiceWire library o

[2020-08-05 03:06] kccarter76 commented on #35
yes, there is a common netstandard 2.0 library between the two frameworks

[2020-08-05 03:09] tylerje commented on #35
Yes, but each framework has its own binary serializer and there are some minor namespace differences.

[2020-08-05 03:11] kccarter76 commented on #35
hmm, so I need a net-standard binary serializer then?

[2020-08-05 03:18] tylerje commented on #35
Not necessarily. Simplify first like I've suggested. If Guid won't serialize properly, try converting it to a string and back.

[2020-08-05 03:27] kccarter76 commented on #35
changed the Guid to string guidID and nothing changed.

[2020-08-05 03:29] tylerje commented on #35
Did you write two simple console apps, one in .net core and one in framework, eliminating all the other code you have in your existing code?

[2020-08-05 03:39] kccarter76 commented on #35
I created a simple console app and it synchronized, but when I actually tried to return a transformationRunFactory instance I received the following:

Unable to read beyond the end of the stream.

[2020-08-05 03:42] tylerje commented on #35
Is that class marked as Serializable? You call it an instance. Are you trying to return an object by ref to call methods on it remotely like an old remoting MarshalByRef object?

[2020-08-05 03:43] tylerje commented on #35
Can you show the code of the two simple console apps?

[2020-08-05 03:46] kccarter76 commented on #35
the object to be returned is based of a MarshalByRef, I take it service wire does not care for that?

[code]
[code]

[2020-08-05 03:55] tylerje commented on #35
No. Definitely not. You don't really want that. A MarshallByRef object would be passed between application domain boundaries in the same process in order to call a method across that boundary. The ancient .NET Remoting enabled the same across processes. With ServiceWire, you don't need that. You use an interface and data transfer objects so that a client can call a server method as if it was local

[2020-08-05 03:56] tylerje commented on #35
Of course you won't have state like you might with a MarshallByRef object but you really don't want that in such an architecture.

[2020-08-05 03:57] tylerje commented on #35
And don't use fields or properties in your interface. Remember ServiceWire is an RPC library.

[2020-08-05 03:59] kccarter76 commented on #35
I know app domain is going the way of the dodo with .net core and net 5 but that makes sense. I have compiled T4 template which I need the process host to execute and the result returned.

[2020-08-05 04:02] kccarter76 commented on #35
especially considering this, Type 'System.MarshalByRefObject' in Assembly 'System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e' is not marked as serializable.

[2020-08-05 04:05] tylerje commented on #35
Good luck. I'm going to close this. Feel free to reach out if you need anything.

[2020-08-05 04:05] #35 closed

[2020-08-08 23:14] kccarter76 opened #36 "typeConfigName.ToType returns null in a framework client to netcore server"
![image](https://user-images.githubusercontent.com/5841402/89721390-2f4d2f80-d99a-11ea-8fe0-5532b3264f0f.png)
![image](https://user-images.githubusercontent.com/5841402/89721566-50af1b00-d99c-11ea-9012-0a35dd14d756.png)

type is null but the object that was deserialized is already translated to the correct type, System.Private.Uri looks to be the netcore type configuration name instead of the fram

[2020-08-08 23:38] tylerje commented on #36
This has nothing to do with strong naming the assembly. It's entirely a side effect of trying to map types between frameworks when their namespaces have change. See the change in NetExtensions.cs which was an attempt to remedy this problem. Put a break point there and see if we're missing something with these types. It appears that the Uri type falls into this category but does not have the mscore

[2020-08-08 23:43] kccarter76 commented on #36
of course, I am building a vsix solution for visual studio and it is a requirement that the assemblies pulled into visual studio are strong named. in fact, when I forgot to strong name my SubSonic.Core.Remoting assembly I had com errors left and right.

the project is to support T4 Templating where the template generator is interacting with netstandard assemblies and the T4 Generator that is stock

[2020-08-08 23:51] tylerje commented on #36
One option is to incorporate the code in your own project. Or fork it and strong name it. I'll see if I can get some cross framework tests up to find the issue with the Uri. Can you send me your interface, or a snippet of that contains that call?

[2020-08-08 23:53] kccarter76 commented on #36
the issue is that the assembly name in netcore is System.Private.Uri. I have some code in place and I going to open box test it. not sure how you have your current unit testing setup. I have not looked at that.

[2020-08-09 00:57] tylerje commented on #36
Unit tests do not test across frameworks.

[2020-08-09 00:58] kccarter76 commented on #36
we don't need the unit test to test across framework. what we need is a type map that can use the full name of the type to map to the the type object desired. I am working on a TypeMapper for service wire.

[2020-08-09 01:29] tylerje commented on #36
It's not the type that is the problem. It's the assembly name for that type. If we can find a list of types and hard code them, I'm okay with that since the type sync/mapping occurs only when the host or client is started.

[2020-08-09 01:31] kccarter76 commented on #36
no need to hard code the types. I have a solution and all we need to know is the assemblies that expose types in the system namespace.

[2020-08-09 01:55] tylerje commented on #36
I want to find a way to do this without adding a dependency.

[2020-08-09 01:55] kccarter76 commented on #36
I can remove the nerd bank it's only a versioning tool

[2020-08-09 18:14] kccarter76 opened #39 "If a RPC service returns an instantiated interface should methods on interface execute on the object created by the service."
I have a transformation run factory service that creates a run factory instance on the named pipe server. the return type of this method is an interface. When the run factory creates a transformation runner, its currently running the framework code in generating a runner on the client side. It should be creating the runner using the netcoreapp code on the server to create the runner. The execution

[2020-08-09 21:32] tylerje commented on #39
That's a fairly packed question. Perhaps you can unpack it with some pseudo code? I'm honestly not understanding what you're asking.

From the ServiceWire perspective, it's rather simple. The client uses an interface in a shared assembly to dynamically create an assembly in memory that implements the interface. That implementation is only a means of communicating so the the host to pass parameters

[2020-08-09 21:49] kccarter76 commented on #39
so if I am understanding what mentioned above. the service interface would look something like this.

[code]

instead of
[code]

[2020-08-10 01:11] kccarter76 commented on #39
okay I think I have got this. the only problem that I have at this point is that Type is not serializable. I will need to wrap that.

thank you for answering my question and the clarification that came with it.

interface
[code]
implementation
[code]

[2020-08-10 01:11] #39 closed

[2020-08-10 01:21] tylerje commented on #39
Yes, the proxy on the client can be used again and again on the client side until you dispose it which disconnects it. I would recommend using a simple interface with just the RPC methods you need and data transfer objects that have no business logic in order to keep them lightweight since in many cases you can't or shouldn't execute that logic on the DTO on the wrong side of the wire. Good luck.

[2020-08-11 00:42] kccarter76 commented on #36
I have found another use case for the type mapper to have some configuration behind it. I will move as much as I can into a common library. but what will be syncing across the pipe will be a sub class of that type. The server will need to know about the base type so it can use polymorphism after deserialization.

[2020-08-11 00:53] tylerje commented on #36
We're going down a rabbit hole for your use case and approach to RPC, so I'm going to recommend you made these changes on a fork and incorporate that code into your project. This effort, while interesting, is not really the direction I want to take ServiceWire. I hesitated on the original PR that just mapped mscorlib with System.Private.MsCoreLib.

[2020-08-11 01:27] kccarter76 commented on #36
I have thought about this last use case some more and I might have a work around that does not need the type mapper to be configurable. I am going to try that first. in regards mscorlib mapped with system.private. technically there not mapped together, there separated in different processes. Uri is the same object in both run-times, they just happen to be in different assemblies and Microsoft impl

[2020-08-11 01:36] tylerje commented on #36
The mapping I'm referring to occurs here. https://github.com/tylerjensen/ServiceWire/blob/9f4053eb4ff693e79843570916164130878a652b/src/ServiceWire/NetExtensions.cs#L18

But I'm still not happy with that approach. I'm not liking the approach of actual mapping in the library either. We'll all be one big happy .NET 5 at some point, and .NET Framework will eventually end. I realize this is down the ro

[2020-08-11 01:36] #36 closed

[2020-08-31 07:24] JeremyWu917 opened #40 "Missing right lable “)” in Getting Started"
Hi,

There is mistakes in [Getting Started](https://github.com/tylerjensen/ServiceWire/wiki/Getting-Started).
![2020-08-31_152028](https://user-images.githubusercontent.com/54832272/91693746-14876880-eb9e-11ea-8bd7-a8d0d83b5722.png)

[2020-09-02 08:15] JeremyWu917 commented on #40
Never mind.
I had fixed this issue.
Thanks

[2020-09-02 08:15] #40 closed

[2020-09-02 13:13] tylerje commented on #40
Thanks for the edit. I've removed the commented line.

[2020-09-17 11:02] rvecchio opened #41 "DataSet return type - EndOfStreamException"
Hello
I’m exploring the possibility to substitute the .NET Remoting in a range of legacy applications that have to be ported on .NET Core.
I’ve simply setup an hello word project, by following your useful documentation and basically everything works great, apart from an issue regarding the DataSet object when it’s used as a return type.
Every time I try to invoke remote methods that return System.

[2020-09-17 13:41] tylerje commented on #41
You cannot serialize a stream. The DataSet supports a stream which means you require local context, the environment in which the DataSet was created. Transform your DaraSet to a POCO and move that across the wire. ServiceWire is not a replacement for .NET Remoting which allowed context to be shared. It is an RPC library for .NET to .NET endpoints that are disconnected and share no context.

[2020-09-17 13:43] tylerje commented on #41
Even if DataSet could be moved across the wire, it would be a poor choice because of its weight. A stripped down POCO transformed prior to sending it across the wire would be much lighter weight.

[2020-09-17 17:22] rvecchio commented on #41
Hello

There's no question about how efficient is an entity class compared to a DataSet in terms of weight. But it's not the same thing and furthermore my problem is related to legacy code.

I have no issue regarding the different contexts in this case, as far as I can see, because we can ensure that the two processes (client and server) are running either on the same machine or on two different m

[2020-09-17 17:30] tylerje commented on #41
Ruggero, DataSet should serialize. Are both host and client the same .NET framework or same .NET Core? Regardless of whether it is on the same machine, context is not preserved as it is in .NET Remoting and MarshalByRef objects that are exposed remotely but still live on the host. Hence, if you are calling something in the DataSet that requires reading from a stream, that may be why you're getting

[2020-09-21 15:33] rvecchio commented on #41
Hi Tyler
I sent the code, as requested.
To your question about the platform: yes in my case both client and server will have the same version of the .NET Framework or .NET Core on board.
If you already had the chance to have a look to the code I sent to your email account, I think you noticed that this error occurs regardless of the kind of DataSet or its structure. Even returning an empty DataSet

[2020-09-21 17:48] tylerje commented on #41
Ruggero,
It went to my spam folder. I'll check it out today.
Tyler

[2020-09-22 14:11] oleksabor commented on #41
I've tried to extend the original `DemoCommon.IComplexDataContract` class with the
[code]
and added `DataSetContent` to the `DemoCommon`
[code]

The DemoHost was able to serve the DemoClient calls like below:
[code]

Regards

[2020-09-22 14:55] tylerje commented on #41
It has something to do with the binary formatter. It may take me some time to diagnose the problem. You're welcome to step through the code as well. With two other jobs taking precedence, it may be a while before I can get to the bottom of it.

[2020-09-23 09:30] oleksabor commented on #41
I do not mind to check the error origin

However I'd like to get a code that reproduces the error.

I've tried to add a method that returns `System.Data.DataSet` object and no error is thrown. It works fine

Please find adjusted `Demo` project attached with sample `GetDS` and `GetDSContent` methods were added to the `IComplexDataContract`
[Demo.zip](https://github.com/tylerjensen/ServiceWire/files

[2020-09-23 14:24] rvecchio commented on #41
@oleksabor
Thank you for sharing your code.
The problem occurs if the build target of the server (and the client) is the .NET Framework. As you reported, it works on .NET Core

In my case I wanted to test a scenario in which a .NET Core client could consume remote objects exposed by a legacy .NET Framework server; or even a scenario in which both server and client are running on the same version o

[2020-09-23 17:07] tylerje commented on #41
We're heading into .NET 5 and Framework is eventually going away. Given you can wrap it in a DTO style POCO and Framework is able to do the serialization, I would not be inclined to spend much time on solving this. If you find a solution and want to submit a PR, I'm happy to take a look at it.

[2020-09-24 11:12] oleksabor commented on #41
I've made some investigations. And the problem is not only with the .Net Framework actually

The problem occurs if there are two (or more) assembly versions are available (in the GAC).

I have two `System.Data` assemblies installed in the GAC:
[code]

It means that `NetExtensions.ToConfigName` returns `System.Data` assembly name for the `DataSet` type.
But `NetExtensions.ToType` (`Type.GetType` ac

[2020-09-24 12:41] tylerje commented on #41
Unfortunately if we go with the full version, we break those who are communicating from .NET Framework to .NET Core or between two different versions of the same. The ultimate answer here is to either transform your DataSet to a POCO DTO of a type you control or to use a different serializer.

[2020-09-24 12:41] #41 closed

[2020-11-10 10:56] RendijsSmukulis opened #43 "Avoid dynamic code generation by providing a custom Proxy implementation"
This idea stems from me using ServiceWire in .Net 5 with CoreRT compiler, attempting to do ahead-of-time compilation to an unmanaged library.

CoreRT currently does not allow dynamic code generation:

[code]

As such, I am looking to implement a mechanism to avoid calls to `CreateProxy`, and instead provide an existing Proxy implementation.

A couple questions:
1. If I succeed, would you be intere

[2020-11-10 14:48] tylerje commented on #43
I would be happy to look at a pull request. At first blush, this seems like the user of the library would have to build the proxy based on known types in advance. I'm also not certain that supporting WinRT is going to be all that important to most users of the library.

[2020-11-10 14:51] tylerje commented on #43
Perhaps you can share with me why you want to use ServiceWire with WinRT?

[2020-11-10 14:55] RendijsSmukulis commented on #43
We'll be using this to create a plugin for an unmanaged Windows app to communicate with a managed process, so it's not related to WinRT. I've tested a few RPC options, and ServiceWire with named pipes seems to be the one with lowest latency. To avoid writing a wrapper in C++/CLI, we're using AOT compilation to create a native dll.

From what I've seen, I can save the types generated in the Proxy b

[2020-11-10 15:07] tylerje commented on #43
Honestly it's not a primary use case for the library. The dynamic assembly created when the client in created is part of it's charm. Generating the physical assembly may have merit for your use case, but I would want to review it carefully and make it optional rather than the default behavior. I look forward to seeing the PR.

[2020-12-20 13:14] oleksabor opened #44 "service method with generic parameters support"
Hello

Please help me to understand is there a chance to have generic service methods supported?
like

[code]

the `Host.AddService` fails to get  method metadata and `CreateMethodMap` fails to get the `MethodSyncInfo.MethodReturnType` value
[code]

I think it may work since `MethodSyncInfo.MethodReturnType`  is used to check `is-it-a-Task` condition by the `StreamingChannel.InvokeMethod` only

[c

[2021-04-11 20:59] mpoelzl opened #45 "BinaryFormatter depreciated and prohibited"
Hello!

Microsoft has depreaciated and prohibited the use of the BinaryFormatter in ASP dotnet applications. Is there an alternative that can be used in ServiceWire?

Thanks!

[2021-04-11 21:06] tylerje commented on #45
You can use it but it requires an override in the project file. I don't recommend that. But I don't recommend using ServiceWire in an ASP.NET app. If you want to do that, you can inject your own serializer.

[2021-04-12 01:02] tylerje commented on #45
https://docs.microsoft.com/en-us/dotnet/standard/serialization/binaryformatter-security-guide

"The BinaryFormatter.Deserialize method is never safe when used with untrusted input. We strongly recommend that consumers instead consider using one of the alternatives outlined later in this article."

Because Service Wire assumes known, trusted client and host, with a shared interface and DTO assembly

[2021-04-16 15:46] mpoelzl commented on #45
Thank you for the detailed answer, it's much appreciated! I'm actually using the ASP app entirely local (for cross platform capability) so the security issue is actually not really a problem. I will look at IZkRepository to lock it down further. Thanks for all the effort creating this!

[2021-07-14 08:47] aprofessionalpirate opened #46 "TcpHost accepting new client synchronously when AcceptAsync returns false"
Hi there,

I was taking a look at the code for `TcpHost.cs` and noticed that inside of the loop in `Listen()` if `_listener.AcceptAsync(_acceptEventArg)` returns false it will call `AcceptNewClient(_acceptEventArg)` synchronously which means that until this client disconnects the listener will not be connecting to any new clients.

On https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.

[2021-08-13 14:11] germagion opened #47 "support IEnumerable<string> namedPipe"
It seems that if I use in the interface IEnumerable<string> for named pipe I get an error: cannot match method to its server equivalent.

Ienumerable for non primitive types seems to work fine.

[2021-08-13 20:15] tylerje commented on #47
Use an array. Remember it has to serialize the data, so an IEnumarable won't keep its enumerator state pointer over the wire. There's no advantage to using IEnumerable over the wire.

[2021-08-16 09:15] germagion commented on #47
Thanks, I'll use array instead. As there is no advantage of IEnumerable over using an array I'll close the issue

[2021-08-16 09:15] #47 closed

[2021-08-16 09:16] germagion commented on #47
Thanks, I'll use array instead. As there is no advantage of IEnumerable over using an array I'll close the issue

[2021-11-12 21:56] apkeno opened #48 "Support for nested types and deep APIs?"
I am considering moving some code to .NET 5/6 which means I can no longer use .NET Remoting. My application is a desktop C# app with a deep object oriented API with calls like:

var myApp = new App();
myApp.OpenFile("filename");
myApp.IntProperty = 5;
myApp.SubObject.StringProperty = "string";
IChild childObj = myApp.AddChild();
childObj.Name = "new child";

Working through the examples, I get an

[2021-11-12 22:02] tylerje commented on #48
No. ServiceWire is not the same as .NET Removing. It is an RPC library that maps calls from a proxy through to a host of an instance. The client side proxy dies not have a reference to the concrete instance over the wire like you get in Remoting which is ultimately problematic for scale and network failures. I recommend you rearchitect your app as a disconnected client whether you use ServiceWire

[2022-01-06 01:01] roboz0r opened #49 "Unable to use type System.Collections.Generic.List in F#"
I have attempted to follow the Named Pipes sample code with translation into F#.

in the sample code the interface is:

[code]
Which translates to

[code]

When used like this with a .Net 6 host and a .Net Framework 4.8 client I get the following exception:

`System.ArgumentNullException: 'Value cannot be null.Parameter name: conversionType'`

[code]

I found the culprit is `ResizeArray<string>`.

[2022-01-06 01:07] roboz0r commented on #49
Complete source code
[code]

[code]

[code]

[2022-01-06 04:27] tylerje commented on #49
The problem is using the default serializer between .NET 6 and the old .NET Framework because they're not compatible. If you must communicate between the two, you must inject a serializer. I think that will work, but cannot guarantee it.

[2022-02-10 08:32] jbrookssmokeball opened #50 "Passing null string in an array of string in service method parameter throws ArgumentNullException"
If a service method parameter is an array of string, then passing in a null value causes an `ArgumentNullException` to be thrown.

Service method:
[code]

Calling the proxy:
[code]

Throws an `ArgumentNullException`:
[code]

If the parameter is a `List<string>` then `null` string values in the list serialize okay. It only fails when it's a `string[]` or `params string[]`.

[2022-02-11 23:22] jbrookssmokeball commented on #50
Also when returning an array of string
e.g.
[code]

If you return a null value in the array from the service:
[code]

It throws an `EndOfStreamException` when calling the method over the wire:
[code]

[2022-03-11 11:00] wouterroos opened #52 "Getting "IOException: Pipe is broken" on new NpClient<TInterface>(new NpEndPoint(pipeName)) when running on a net6.0 ASP.NET Core app"
Hi @tylerje,

I'm getting the following exception when I try running a system using ServiceWire from an ASP,NET Core web application targetting `net6.0`:

[code]

The exception is thrown when executing the following line of code:

`new NpClient<TInterface>(new NpEndPoint(pipeName))`

If I compile the exact same project against both `netcoreapp3.1` and `net48` everything works fine. It also works f

[2022-04-28 07:31] WXWYK commented on #25
If I use await task ,when the task is completed,the client get error:Unable to read beyond the end of the stream.

[2022-04-28 12:53] tylerje commented on #25
This is an RPC library. It doesn't properly support async/await. See my previous comment. I'm not convinced it makes sense to try to make it support a return type of Task or Task<T>.

[2022-04-28 12:53] #25 closed

[2022-04-29 01:33] WXWYK commented on #25
Thank you for your reply. Asynchronous effect can be achieved in other ways, but use async/await is more concise.

[2022-05-05 12:50] kaylumah commented on #52
This issue also occurs on `v5.4.0` of the ServiceWire package which was released in April.

Verified to be working on `Microsoft.NET.Sdk` and `Microsoft.NET.Sdk.Worker` but broken on `Microsoft.NET.Sdk,Web`

[2022-05-05 17:18] tylerje commented on #52
@wouterroos what target framework is running your host?

[2022-05-05 17:24] kaylumah commented on #52
If you mean which sdks Wouter has installed (discussed with him this afternoon)

.NET SDK (reflecting any global.json):
Version: 6.0.202
Commit: f8a55617d2

Runtime Environment:
OS Name: Windows
OS Version: 10.0.19044
OS Platform: Windows
RID: win10-x64
Base Path: C:\Program Files\dotnet\sdk\6.0.202\

Host (useful for support):
Version: 6.0.4
Commit: be98e88c76

.NET SDKs installed:
2.1.818 [C:\Pr

[2022-05-05 18:09] tylerje commented on #52
Just curious about the .NET runtime version of the host process. Based on the OP, the client is an ASP.NET app running on .NET 6. There has to be a host app. What's it running on?

[2022-05-06 05:41] wouterroos commented on #52
@tylerje The host is a ASP.NET app net6.0 console app running a [generic host](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host?view=aspnetcore-6.0) to run a service. We use ServiceWire to communicate with other services with the same set-up, either in-proc or in separate processes. As mentioned above we've narrowed the issue down to the combination of `net6.0` and `Micr

[2022-05-06 15:53] tylerje commented on #52
@wouterroos it's hard to imagine how adding to web sdk would alter named pipes behavior. Would you be willing to experiment by switching to TCP without changing your runtime targets and SDKs? This may help us isolate it to named pipes. If we also get an error under TCP, we will want to examine the interface to see if the proxy IL generation is not supporting something in the interface.

[2022-05-09 15:24] wouterroos commented on #52
@tylerje I agree it’s weird but it is what where seeing. We’ve replicated the issue on multiple machines to make sure it’s not a configuration issue. I’ll do the TCP test asap and will let you know once I have the results.

[2022-05-10 07:45] wouterroos commented on #52
@tylerje I just ran a test using TCP, again I'm seeing that all combinations **except** `net6.0` and `Microsoft.NET.Sdk.Web` work perfectly fine. See below for the error I got:

[code]

[2022-05-10 13:01] tylerje commented on #52
Well, there's a clue. It's not pipes or tcp then but the mechanism for exchanging Metadata for the interface and generating the dynamic proxy. I'll review this week.

[2022-05-10 16:32] tylerje commented on #52
@wouterroos are you using a custom serializer or the default serializer?

[2022-05-10 17:07] tylerje commented on #52
@wouterroos please check out the PR. I believe the error in the client is due to an error in serializing ServiceSyncInfo on the host side when the StreamingChannel asks for it and expects to read an int in response. I'm wondering if you can create a local build and test in your scenario to see if this resolves the issue by giving you a better error on the client side. My thinking is that the defau

[2022-05-11 06:19] wouterroos commented on #52
@tylerje I referenced the ServiceWire project from the PR in our solution and ran the scenario again. Please see the results below.

[code]

As for the question about serialization, please see below for how we use ServiceWire on both the client and the service side (in this scenario both are running in the same process, same SDK etc. and I'm using TCP). Here ServiceWire serves as the technology st

[2022-05-11 06:25] kaylumah commented on #52
Reading [binaryformatter](https://docs.microsoft.com/en-us/dotnet/core/compatibility/core-libraries/5.0/binaryformatter-serialization-obsolete) has been marked obsolete in `.NET5`  We never targeted it (since it is not LTS) but I can imagine dat `net5.0` and `Microsoft.NET.Sdk.Web` combination is also broken

[2022-05-11 06:45] wouterroos commented on #52
@tylerje I've reverted our solution back to NamedPipes and I'm getting the same results as I mentioned above (as expected). When I set the `EnableUnsafeBinaryFormatterSerialization` property to `true` in the `net6.0` ASP.NET project (as mentioned in the article @kaylumah mentioned) everything works as expected, but this is obviously not a good solution.

Going from the article, It seems the soluti

[2022-05-11 14:19] tylerje commented on #52
@wouterroos thanks for helping me figure this out. I will be pushing the fix to master and publishing a new NuGet package along with some documentation in the readme about the limitation under an ASP.NET app and using the enable flag in the project file. Using a different default serializer would slow it down. The rationale behind preventing its use in a web application is clear, but at least they

[2022-05-11 14:34] tylerje commented on #52
Version 5.4.1 with the bug fix and readme updated published.

[2022-05-11 14:34] #52 closed

[2022-05-11 14:54] #43 closed

[2022-05-11 14:55] tylerje commented on #44
Generic parameters are not currently supported.

[2022-05-11 14:55] #44 closed

[2022-05-11 17:55] tylerje commented on #46
I've tried making AcceptNewClient run on a separate thread but cascading problems occur. I will continue to investigate.

[2022-05-11 17:56] #48 closed

[2022-05-20 09:58] berk-csi opened #56 "Named Pipe performance drop going from 5.3.4 to 5.3.5"
I noticed a significant performance drop in named pipes in **ServiceWire 5.3.5** and up. **ServiceWire 5.3.4** is nearly **3X** faster compared to 5.3.5 on the attached MRE.

To test, just run the tester console application referencing ServiceWire 5.3.4 twice, one in 'server' mode and one in 'client' mode. It'll time 5000 calls to a simple interface and report the average time over 5 runs. Repeat

[2022-05-20 15:52] tylerje commented on #56
Thanks for reporting the error. This has been fixed in version 5.4.2 which should be available on NuGet momentarily. The fix is on this line.
https://github.com/tylerjensen/ServiceWire/blob/21f3a841302d0477d3309c2bce8c9edb5099cdf9/src/ServiceWire/NamedPipes/NpListener.cs#L101

If you review the history, you'll see that the package you found to work targeted .NET 4.62 and had a slightly different c

[2022-05-20 15:52] #56 closed

[2022-05-22 00:30] asehnem opened #57 "Strong Name"
Without Strong names it is not possible to use the nuget package in our environment.

[2022-05-22 01:43] tylerje commented on #57
Just some of the reasons I don't use strong name signing. Have a look. If you need a strong named assembly, fork the repo and sign it. I don't have any plans to do a strong named package at the moment.

[2022-05-22 01:43] #57 closed

[2022-06-06 17:13] tylerje commented on #50
Fixed in version 5.5.0 being published now.

[2022-06-06 17:13] #50 closed

[2022-06-06 17:15] tylerje commented on #49
Try it in v5.5.0 now with a different default serializer.

[2022-06-06 19:54] tylerje commented on #52
@wouterroos the newest package, version 5.5.0, no longer uses BinaryFormatter. That should allow you to drop the project exception flag.

[2022-06-07 07:24] wouterroos commented on #52
@tylerje Thanks, will give it a try soon!

[2022-07-05 13:37] brandonhood opened #60 "Is it possible to use this library in a two-way fashion?"
The implementation suggests that the pipe is duplex, but the documentation suggests that the API is one-way. Is it possible for two clients to talk to each other (without resorting to something like polling) or would it require a second pipe?

[2022-07-05 16:52] tylerje commented on #60
@brandonhood can you share an example of code as to how you would take advantage of this? The pipes connection is duplex but keep in mind that the library supports the same RPC interactions over named pipes as it does TCP. It does not try to be a SignalR replacement that allows the server to send unsolicited messages to the client.

You're using named pipes, so presumably you're on the same machin

[2022-07-05 16:52] #60 closed

[2022-07-08 14:15] tylerje commented on #49
I'm going to close this issue for lack of response.

[2022-07-08 14:16] tylerje commented on #46
Closing it as I've not been able to create a scenario in which this occurs. I'd be happy to entertain a PR if anyone has a solution.

[2022-07-08 14:16] #46 closed

[2022-07-21 12:11] berk-csi opened #62 "Byref Enums"
When I try to use an enumeration passed as a reference in my interface with ServiceWire, I am getting the following exception:

`"Non-primitive native types (e.g. Decimal and Guid) ByRef are not supported."`

A simple interface like below can be used as a reproducer:
[code]

Now, since (most) enumerations are simple integers, I was wondering if it would be possible to allow ByRef enums by casting

[2022-07-21 14:32] tylerje commented on #62
The error occurs in the IL proxy generator for the client. I don't recall the reason for the limitation. It will require some experimentation.

[2022-08-24 06:29] NandishNR opened #63 "TcpClient is failing to create instance in .net framework 6"
Getting exception as "SyncInterface failed: Type or version of type unknown". It's in .net framework and it's packages are directly added from nuget. However, same code is working in .net core and it's packages are directly added from nuget.

[2022-08-24 12:57] tylerje commented on #63
Can we clarify?

You are referencing a .NET Framework (version?) package in a .NET 6 app and trying to use an interface defined in that package in TcpClient?

Is that a correct reading of your inquiry? If not, please clarify.

Do you own and build the package?

Is it a public package?

Can you share the interface code?

[2022-08-24 23:17] kondareddy commented on #63
![Screenshot 2022-08-25 044052](https://user-images.githubusercontent.com/1445374/186539381-c67f8c68-08cb-4d5c-9a1a-8bf47fa7921a.png)

To be clear on the issue.
When we tried adding ServiceWire reference on .NET 4.6.2 and .NET Core Project - both got 5.5.1. Implementation wise same on both projects at our end. perfectly works on .NET Core project but fails on .NET 4.6.2 project with below error.

[2022-08-24 23:35] tylerje commented on #63
Can you share the code for your interface?

[2022-08-26 07:37] kondareddy commented on #63
Thanks Tylerje.

Downgrading to package to 5.3.4 issue fixed.

Actually we have old app in .NET 4.6.2 and new app built on .NET 6 with WinUI3.0 , we want to have communication between these two, will that work?

[2022-08-26 13:10] tylerje commented on #63
If you're willing to share the interface with me, as I've asked, I would be happy to run some tests to find the problem.

[2022-11-07 19:17] KingRikkie commented on #63
@tylerje
Same issue here on Linux and .NET 6. Downgrading to 5.3.4 did not fix the issue, crashes as soon as you try to connect on client. This is a my entire interface
[code]
Client:
[code]
Host:
[code]

[2022-11-07 19:52] KingRikkie commented on #63
Exact same happens with the TCP connection.
[code]

[2022-11-08 00:20] tylerje commented on #63
@KingRikkie this appears to be a difference in how the types are noted in the initial handshaking. I'll have to set up some tests to determine what the problem is. Thanks for the info today. It may take some time to get a solution out given my current availability.

[2022-11-08 01:27] tylerje commented on #63
@KingRikkie I'm unable to reproduce the problem. Clone and pull and run DemoHost and DemoClient on Windows. DemoHost will run using .NET 6 and DemoClient .NET Framework 4.6.2. The code runs fine. Compare the demo implementation with your code and let me know what's different. I'm only trying on TCP as the code that syncs the interfaces does not depend on the channel type. I'm curious to know what

[2022-11-08 01:27] tylerje commented on #63
This is the commit that tests your case. https://github.com/tylerjensen/ServiceWire/commit/c4a2f5350443baee6f834bc7938f5fc73848f5a7

[2022-11-08 02:48] KingRikkie commented on #63
@tylerje I copied them into 2 new .NET 6.0 applications on Linux and the same error still happens on the client. I don't have a Windows machine atm.
[DemoClient](https://gist.github.com/KingRikkie/521366afc4d13b7e5808aa0252e76962)
[DemoHost](https://gist.github.com/KingRikkie/8092430e21c734a7952458b43245bfb2)

[2022-11-08 05:34] tylerje commented on #63
I'll try on Linux then.

[2022-11-08 05:52] tylerje commented on #63
@KingRikkie -- wait. You copied them into 2 new .NET 6.0 applications? How so? I build them in Linux and run them fine but have to remove the netcoreapp3.1 target as the code ```List<float> list = new();``` does not compile for that target. So I'm thinking there's more to this story than meets the eye. If we can find a time, I'd be happy to jump on a Zoom call to try to help.

[2022-11-08 06:01] tylerje commented on #63
@KingRikkie can you do a ```dotnet --version``` and ```dotnet --list-sdks``` and post the result here from your Linux environment? Here's mine:

[code]

[2022-11-08 14:17] KingRikkie commented on #63
I only copied the contents of the 2 Program.cs, not the csproj.
[code]
Then copy over the source from what I've linked. Nothing special.
[code]

[2022-11-08 14:41] tylerje commented on #63
Try updating your SDK. I'm not finding 6.0.109 in the release notes, so I have to assume something is wrong on your end. https://dotnet.microsoft.com/en-us/download/dotnet/6.0

[2022-11-08 14:41] #63 closed

[2022-11-08 15:59] KingRikkie commented on #63
Updated to 6.0.110, still same error.

[2022-11-08 17:34] tylerje commented on #63
@KingRikkie can you zip up your whole solution and drop it here? The copy of the demo client in which you are still getting the error? I'll try it on my machine. But before you do that, try updating to SDK 6.0.402.

[2022-11-08 18:28] KingRikkie commented on #63
[Demo.zip](https://github.com/tylerjensen/ServiceWire/files/9964101/Demo.zip)
I can not upgrade to 6.0.4 as it is not available for Manjaro yet.

[2022-11-15 02:50] KingRikkie commented on #63
@tylerje
I've updated to .NET 7 now and the error still happens even on freshly built Host/Client. There is definitely something wrong on Linux.

[2022-11-15 23:36] tylerje commented on #63
@KingRikkie it's something to do with the projects. Yours don't work in my environment. Mine do. But I haven't has time to figure out why.

[2022-11-16 14:05] KingRikkie commented on #63
@tylerje All I did was create a new console app through dotnet, add ServiceWire nuget package, copy over your example source.

[2022-11-23 12:06] berk-csi commented on #62
Hi @tylerje,

I was wondering if you had a chance to look into the byref enums issue as described above. We've already migrated our libraries (from WCF) to ServiceWire and it's working great (thanks!). However, several of our products can't yet be migrated to ServiceWire (hence are stuck at using .NET Remoting) due to having byref enums on their public interfaces. It would be awesome to be able to

[2022-11-23 14:51] tylerje commented on #62
@berk-csi sorry, no. I've not had time to address this. I'm buried in other projects and won't be able to get to this any time soon. I welcome a PR if you figure it out.

[2022-11-28 19:21] krjaction50 opened #66 "Exception in SyncInterface"
Hello,

Using ServiceWire over TCP/IP in .NET 4.8 to replace WCF.  The first issue we found is the ServiceWire assembly does not have a strong name.  Therefore, I used the StrongNamer to add a strong name to ServiceWire.dll across 2 projects we use it in.  The first project is the server and the second project is the client.  Locally in debug mode everything works fine (after using StrongNamer).

[2022-11-28 20:12] krjaction50 commented on #66
Works in debug mode, it does not work in release mode even locally on a dev workstation.

[2022-11-29 00:16] tylerje commented on #66
Try it without strong naming. See if that eliminates the problem. ServiceWire has never been tested with strong naming. It spins an assembly in memory that would not be strong named and that may be the issue. It may also be reflection of types in the sync validation between client and server. Sorry I can't be more help. There aren't many cases where string naming is justified. If it works without

[2022-11-29 00:22] tylerje commented on #66
Consider dropping strong naming if you don't really need it for one of these reasons. https://learn.microsoft.com/en-us/dotnet/standard/assembly/strong-named#why-strong-name-your-assemblies

[2022-11-29 13:12] krjaction50 commented on #66
Unfortunately, strong naming is mandated at my company.  We do not GAC our assemblies.  It works strong named locally on my workstation but not on our servers.  We do not have a firewall on our backend servers and we are using the same IP and port as it used for WCF.  I'm going to create a small client and server test apps without strong naming and see if I can get them to work.  Push comes to sho

[2022-11-29 14:02] fabricefou opened #67 "DateTime : Use internal ToBinary and FromBinary in SendParameters methods"
Hello,

First thanks a lot for tour library !!!
I use it with large DateTime[] and I have some performance problems.
I think using DateTime.ToBinary and FromBinary in ParameterTransferHelper.SendParameters will be more efficient that ToString().
Have you try to use it?

[2022-11-29 14:21] tylerje commented on #67
No. Because across the various frameworks and versions, I didn't trust the implementation to be the same. If the DateTime.ToString is a performance bottleneck for you, which seems strange as this is RPC and super chatty RPC is usually an anti-pattern, then you could use a byte array and do the conversion on client and server side outside of ServiceWire.

[2022-11-29 14:30] krjaction50 commented on #66
Yes, large company and I totally agree with you.  I will report back once I figure out this issue.  I have no doubt it's environmental.

[2022-11-29 15:14] fabricefou commented on #67
Ok. Thanks for your answer.
DateTime[] is 2x slower than double[] in Net framework 4.8.
Most of Time is in PipeStream.writeFileNative.
I think I will try to pass by long[] by using DateTime.Ticks.

[2022-11-30 11:28] krjaction50 commented on #66
OMG, took me two days, downloading your code, signing it myself to still have the issue.  Turns out it was something super silly and has nothing to do with strong naming.

ATWebBusinessLogic.BusinessLogic.GJSE.GJSESWInterface, ATWebBusinessLogic
Found service
GJSESWInterface
SyncInterface error 0., System.IO.FileLoadException: Could not load file or assembly 'System.Text.Json, Version=6.0.0.0, Cul

[2022-11-30 23:47] tylerje commented on #66
I'm glad you figured it out. Best of luck.

[2022-11-30 23:47] #66 closed